/*https://colorhunt.co/palette/fbf9fafd0054a800382b2024 red-white*/

body {
  margin: 0;
  padding: 0;
  color: #FBF9FA;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

hr {
  border: 2px solid;
}

.white {
  color: #A80038;
  background-color: #FBF9FA;
}

.red {
  color: #FBF9FA;
  background-color: #A80038;
}

/* NAVIGATION BAR */
.navbar {
  background-color: #A80038;
  padding: 12px 0;
}

 /* PLACEHOLDER!! */
.navbar p {
  text-align: center;
  font-size: 1.2em;
  margin: 0;
}

/* HEADER */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), url("../images/hovinsaari.png");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: auto;

  text-shadow: 2px 3px 1px #FD0054;

  text-align: center;
  padding: 150px;
}

.header h1 {
  font-size: 6em;
  margin: 0 0 10px;
  text-decoration: underline;
  font-weight: normal;
  font-family: 'Staatliches', cursive;
}

.header h2 {
  font-size: 2.5em;
  margin: 10px 0 0;
  font-weight: 600;
}

/* BODY */
.body {
  background-color: #A80038;
}

.body-content {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  padding: 100px;
}

.body-content h3 {
  font-size: 2em;
  margin: 0 auto 15px;
  text-align: center;
}

.body-content p {
  font-size: 1.4em;
  text-align: justify;
}

/* PROFILES */
.profile-picture {
  display: inline-block;
  width: 19.5%;
  margin: 40px 0 0;
  padding: 0;
  text-align: center;
}

.profile-picture h4 {
  font-size: 1.25em;
  font-weight: 600;
  margin: 5px 0;
}

.profile-picture img {
  width: 80%;
  border-radius: 100%;
}

/* GAMES */
.game-content {
  margin: 45px 0;
}

.game-info {
  float: left;
  box-sizing: border-box;
  padding: 0 25px 0 0;
  width: 60%;
}

.game-info h4 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}

.game-info hr {
  border: 1px solid;
}

.game-picture img {
  border-radius: 10px;
  width: 40%;
}

/* FOOTER */
.footer {
  background-color: #A80038;
  text-align: center;
  padding: 12px 0;
}

.footer i {
  color: #FD0054;
  margin: 0 8px 10px;
}

.footer i:hover {
  color: #FBF9FA;
}

.footer p {
  color: #FBF9FA;
  text-align: center;
  font-size: 1.2em;
  margin: 0;
}
